flask
flask_assets
apispec
apispec_webframeworks
marshmallow
webargs
redis
requests
Jinja2==3.0.1
flask-apispec==0.11.0
hotqueue
uuid
python-dotenv
numpy
matplotlib 
jpcm 
pynverse
colour_science
pytest
musicpy==5.17
scipy
nrclex
pretty_midi
libfmp
nltk
pygame
pydub
sf2_loader
dask
itsdangerous