
{% extends "rest.jinja2" %}

{% block content %}
    <img src="data:image/png;base64,{{img}}" style="height:80%; max-width: 100%"></img>
    <embed type="text/html" src="{{proxy}}/play/{{id}}" style="width: 100%; max-height: 20%;">
{% endblock %}
{% block headcontent %}
{% endblock %}