<!DOCTYPE html>
<html lang="en">

<head style="margin: 0; height: 100%; overflow: hidden">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ title }}</title>
  <meta property="og:site_name" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }} - "/>
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:image:width" content="1000"/>
  <meta property="og:image:height" content="523"/>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url('{{proxy}}{{ url_for('static', filename='font/Kiona-Regular.ttf') }}');
    @import url('{{proxy}}{{ url_for('static', filename='font/AronGrotesque-light.ttf') }}');
  </style>
  <link rel="stylesheet" href="{{proxy}}{{ url_for('static', filename='dist/css/scroll.css') }}" />
  <link rel="stylesheet" href="{{proxy}}{{ url_for('static', filename='dist/css/colors.css') }}" />
  <link rel="stylesheet" href="{{proxy}}{{ url_for('static', filename='dist/css/avance.css') }}" />
  {% block headcontent %}{% endblock %}
</head>

<body class="{{template}}" style="margin: 0; height: 100%; position: relative;">
  <div class="float-update" style="position: fixed; top: 0px; right: 0px; background:transparent; backdrop-filter: blur(20px); z-index:1;">
      <form action = "" method = "post">
         <input type = "submit" value = "Update" />
      </form> 
  </div>
  <div class="container">
	  {% block content %}{% endblock %}
  </div>
  {% include 'analytics.jinja2' %}
</body>

</html>